h1 {
    background-color: black;
    font-family: cursive;
    color: azure;
}

    h1 span {
        color: aqua;
    }

.purple {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: cursive;
}

.blue {
    background-color: skyblue;
    text-align: right;
    font-family: cursive;
    text-decoration: underline;
}

